html {
    font-size: 62.5%
        /* 1rem = a 10 pixeles en rem que es mas recomendable usar*/
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*--GLOBALES*/
img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.6rem;
}


h2.inactive {
    color: #cccccc;
  }
  
h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/** navegacion **/
a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
  }

/** Utilidades**/
.font-16px{
    font-size: 1.6rem;
}
  
.site-header {
    background-image: url(../img/banner2.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    min-height: 60rem;
}

.formContent{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;        
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

.formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  input[type=button], input[type=submit], input[type=reset]  {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }


input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=email], input[type=password]{
    background-color: #e0e0e0;
    border: none;
    color: #0d0d0d;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    width: 85%;
    border: 5px solid #e0e0e0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus { /**Activa Inpot color Azul y Animacion */
    background-color: #e0e0e0;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder, input[type=email]:placeholder, input[type=password]:placeholder {
    color: #cccccc;
  }


  .imagen-logo{
      margin-bottom: 1rem;;
  }